.jumbotron {
	background-color: navy;
	color: black;
	color:white;
	margin-top:50px;
}


footer {
	padding: 10px 10px 0 10px;
	background-color: navy;
	margin-bottom: 0px;
	margin-top: 10px;
	color:white;
}

a{
	color:white;
}

.card-hotel {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.nav-link{
	color:blue;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

