@navy: #011887;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @navy;
  color: black;
  color: white;
  .margenes(50px, 0px);
  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @navy;
  .margenes(10px, 0px);
  color: white; }

a {
  color: white; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  .margenes(10px, 0px);
  }

.nav-link {
  color: blue; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
